*{
    margin: 0;
    padding: 0;
    font-family: arial;
    border: border-box;
     outline: none;
    }
 body{
     background-color: rgb(209,220,222);
 }
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.border{
    border: 1.5px solid transparent;
    padding: 7px;

}
.border:hover{
    border: 1.5px solid white;
}
/* box1 */
.navlogo{
    height: 50px;
    width: 100px;
    background-image: url(images/amazon_logo.png);
    background-size: cover;
 }

/*box2*/
.deliver{
color: #ccc;
font-size: 0.85rem;
margin-left: 15px;

}
.india{
    font-size: 1rem;
    margin-left: 4px;
}
.icon{
display: flex;
align-items: center;
}
/* box3 */
.navsearch{
    display: flex;
    justify-content: space-evenly;
    width: 720px;
    height: 40px;
    border-radius: 4px;
    
}

.dropdown{
    border: none;
   
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    width: 50px;
   padding: 7px;
   text-align: left;
}
.searchamazon{
    width: 100%;
    display: flex;
    border: none;
    font-size: 1rem;
    
}
button{
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
}
button:hover{
    cursor: pointer;
}

.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background-color: #febd36;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.navsearch:hover{
    border: 2px solid orange;
}
/* box4,5 */
span{
    font-size: 0.75rem;
}
.navsecond{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box6 */
.navcart i{
    font-size: 30px;
}
.navcart a{
    color: white;
    text-decoration: none;
}
.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */

.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panelall a{
    padding-left: 3px;
    font-weight: 700;
    text-decoration: none;
    color: #ddd;
}
.panelopt a{
    display: inline;
    margin-left: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #ddd;
}
.panelopt{
    width: 70%;
    font-size: 0.85rem;
}
.paneldeals a{
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    color: #ddd;
}
/* heroarea */
.heroarea{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.heromsg
{
    color: #0f1111;
    background-color: white;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 30px;
}
.heromsg a{
      color: #007185;
      text-decoration: none;
}
/*shopping area*/
.shopping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    margin-top: 15px;
    padding: 20px 0px 15px;
}
.img{
 
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.content a{
     color: #007185;
      text-decoration: none;
}

.bigbox{
    height: 450px;
    width: 97%;
 background-color: white;
    margin: 15px;
    padding: 20px 0px 15px;
}
.bigbox h2{
    display: inline;
}
.bbimg
{
    background-size: cover;
    height: 400px;
 
     margin-top: 1rem;
    margin-bottom: 1rem;
}
.loader {
border: 12px solid #f3f3f3;
border-top: 12px solid goldenrod;
border-radius: 50%;
width: 50px;
height: 50px;
animation: spin 2s linear infinite;
}
@keyframes spin {
0% {
/* Set rotation to 0 degrees */
transform: rotate(0deg);
}
100% {
/* Set rotation to 360 degrees */
transform: rotate(360deg);
}
}

/* footer */
footer{
    margin-top: 30px;
}
.footp1{
background-color: #37475a;
color: white;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.9rem;
}
.footp1:hover{
    background-color: #3e4c5e;
}
.footp2{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul p{
    font-weight: 700;
    font-size: 1rem;
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ddd;
    text-decoration: none;
}
ul a:hover{
    text-decoration: underline;
}
.footp3{
    background-color: #222f3d;
    color: white;
    border-top: 1px solid #d8d7d79d;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footp4{
    background-color: #131a22;
    color: white;
    height: 80px;
    font-size: 0.75rem;
text-align: center;
  
}
.last{

padding-top: 25px;
}
.copyright{

padding-top: 5px;
}